#eightBall {
    width: 500px;
    height: 500px;
    /* background-color: black; */
    /* color: white; */
    background-image: url(../img/8ball.png);
    background-size: contain;
    margin: auto;
    /* border-radius: 100%; */
    display: grid;
    justify-content: center;
    align-items: center;
}

#answerPro, #answerVeg {
    margin-top: 150px;
    width: 275px;
    height: 150px;
    font-size: 25px;
    background: none; 
}

#menuBtnPro, #menuBtnVeg{
    margin-top: 50px;
}

#menu{
    height: 700px;
    width: 800px;
    background-size: cover;
    background-image: url(../img/notepad.jpeg);
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    #menu {
        height: 600px;
        width: 700px;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    #menu {
        height: 500px;
        width: 550px;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    #menu {
        height: 500px;
        width: 400px;
    }
}